@use "../../../../../assets/scss/colors";

/* Dropdown menu dimensions */
.cdk-overlay-pane {
  margin-top: 10px; /* Adjust as needed */
}
mat-menu {
  min-width: 300px;
  max-height: 400px;
  overflow-y: auto;
  padding: 0;
  display: block !important;
}

mat-tree {
  padding: 10px;
}

mat-tree-node,
mat-nested-tree-node {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.parent-node {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0;
}

mat-checkbox {
  margin-right: 10px;
}

button[mat-icon-button] {
  margin-left: auto;
}

.mat-tree-node,
.mat-nested-tree-node {
  padding-left: 20px;
}

mat-menu::-webkit-scrollbar {
  width: 6px;
}
mat-menu::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 3px;
}
mat-menu::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}

.tab-content > .tab-pane {
  display: none; /* Default to hidden */
}
.tab-content > .active {
  display: block; /* Show only the active tab */
}
.btn-save {
  background-color: #325a9c;
  color: #fff;
  padding: 10px 20px;
  font-size: 13px;
  font-weight: 600;
}

label {
  font-weight: bold;
  margin: 0px !important;
  margin-bottom: 5px !important;
}
.product-panel-header h4 {
  margin: 0px !important;
  padding: 10px !important;
}
.product-panel-body {
  height: 65vh;
}
.product-setup-panel .nav-tabs .nav-link {
  border-radius: 5px;
  padding: 10px 15px !important;
  margin: 0px 3px;
}

.dropdown-button {
  width: 100% !important;
}

.add-regulation-btns {
  .nav-item {
    .nav-link {
      &:hover {
        background-color: colors.$primary-orange;
        color: colors.$white;
        border-color: colors.$white !important;
      }
    }
  }
}
