@use "src/assets/scss/_colors.scss";

li.disabled {
  color: #aaa;
  cursor: not-allowed;
  background: #f5f5f5;
  pointer-events: none;
  opacity: 0.7;
}
.organization-container {
  width: 50%;
  margin-top: 20px;
}

.add-organization-btn {
  width: 100%;
  background-color: #325a9c;
  color: white;
  border: 1px;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 10px;
}

.organization-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.organization-item {
  position: static;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.organization-name {
  display: inline-flex;
  width: 100%;
}

.dropdown-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.dropdown-menu {
  position: absolute;
  top: 30px;
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.dropdown-menu button {
  padding: 10px;
  border: none;
  background: none;
  text-align: left;
  cursor: pointer;
}

.dropdown-menu button:hover {
  background-color: #f0f0f0;
}

::ng-deep .context-menu {
  position: fixed;
  background-color: #fff;
  border: 1px solid #ccc;
  z-index: 999;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  width: fit-content;
}

.context-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.context-menu li {
  padding: 8px 12px;
  cursor: pointer;
}

.context-menu li:hover {
  background-color: #f0f0f0;
}

::ng-deep .accordion-button {
  padding: 10px 16px !important;
  font-size: 13px;
}
.organization-accordian-content p {
  font-size: 13px;
  text-align: left;
  color: colors.$black;
  background-color: colors.$white;
  padding: 8px 10px;
  border-radius: 10px;
}
::ng-deep .accordion-item {
  position: relative !important;
  border-radius: 10px !important;
}
::ng-deep .organization-accordian {
  position: relative !important;
}
.accordian-span {
  width: 90%;
}
.btn-approve {
  display: block !important;
}

::ng-deep .accordion-item:has(.show) {
  background-color: colors.$primary-blue;
  border-radius: 10px !important;
  overflow: hidden;

  .accordion-button {
    background-color: transparent !important;
    color: colors.$white !important;
  }
}

.accordion-button:not(.collapsed) {
  box-shadow: none !important;
  color: colors.$black !important;
}