// Rebranding colors
$primary-orange: #DE5926;
$primary-blue: #325A9C;
$white: #FFFFFF;
$black: #000000;
$text-black: #252525;
$body-bg: #F1F1F1;
$light-gray: #F1F1F1;
$medium-gray: #bdbdbd;
$dark-gray: #707070;
$placeholder-gray: #CCCCCC;