<div class="main-container">
  <app-header-menus [active]="active"></app-header-menus>
  <div class="home-content user-table product-setup">
    <div class="row gx-5 my-2 pb-2">
      <div class="col-md-8">
        <form action="">
          <div class="row">
            <div class="col-4">
              <label for="">Country :</label>
              <app-input-dropdown
                [formGroup]="formgroup"
                [name]="'countryId'"
                [object]="this.countries"
                [key]="'countryName'"
                [value]="'id'"
              >
              </app-input-dropdown>
            </div>
            <div class="col-4">
              <label for="">Concerned Ministry:</label>
              <app-input-multiselect
                [formGroup]="formgroup"
                [name]="'concernedMinistryId'"
                [object]="concernedMinistryData"
                [key]="'id'"
                [value]="'concernedMinistryName'"
                [placeholder]="'Select Concerned Ministry'"
                (getSelectedItems)="
                  getDropdownSelectedConcernedMinistry($event)
                "
              ></app-input-multiselect>
            </div>
            <div class="col-2 d-flex align-items-end">
              <button
                class="primary-orange-btn btn btn-color"
                type="button"
                (click)="submitCountryConcernedMinistry()"
                [disabled]="!formgroup.valid"
              >
                ADD
              </button>
            </div>
          </div>
        </form>
      </div>
      <!-- <div class="col-3"></div> -->
      <div class="col-4 d-flex align-items-end justify-content-end">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button
            class="btn btn-color"
            (click)="open(concernedMinistry)"
          >
            <i class="fa-solid fa-industry"></i> &nbsp; Add New Concerned Ministry
          </button>
        </div>
      </div>
    </div>
    <div class="row mt-20">
      <div class="product-panel">
        <div class="product-panel-header">
          <div class="row">
            <div class="col-md-5">
             <div class="input-group text-center mb-1">
                <label for="Country" class="mt-10">Country: &nbsp; &nbsp; </label>
                <input type="search" class="form-control" (keyup)="searchCountry($event)" placeholder="Search by keywords ..." />
                <div class="input-group-prepend">
                  <button class="btn btn-white" type="button"><i class="bi bi-search"></i></button>
                </div>
              </div>
            </div>
            <div class="col-7 text-center">
              <h4>Concerned Ministry</h4>
            </div>
          </div>
        </div>
        <div class="product-panel-body">
          <div class="row">
            <div class="col-5">
               <div class="panel-gray uppercase">
                <ul>
                  <li
                    *ngFor="let item of getUniqueCountries()"
                    [class.selected]="isSelected(item.countryName?.toString()!)"
                    (click)="toggleSelection(item.countryName?.toString()!)"
                  >
                    {{ item.countryName }}
                    <span class="float-end"
                      ><i class="fa-solid fa-chevron-right"></i
                    ></span>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
              <button
                class="btn btn-approve mt-20"
                (click)="openXl(concernedMinistryApproval)" >
                <i class="bi bi-arrow-down-up"></i> &nbsp; APPROVALS &nbsp;
                <span>{{ conMinApprovalCount }}</span>
              </button>
            </div>
            <div class="col-7">
              <div class="panel-gray">
                <!-- <button class="btn btn-trash"><i class="fa-solid fa-trash-can"></i></button> -->
                <div
                  *ngFor="let country of getSelectedConcernedMinistry()"
                  class="panel-gray h-auto"
                >
                  <p>{{ country.countryName }}</p>
                  <ul>
                    <li
                      *ngFor="let concernedMinistryName of country.concernedMinistry"
                      [class.selected]="isConMinSelected(country.countryName,concernedMinistryName)"
                      (click)="toggleConMinSelection(country.countryName,concernedMinistryName)"
                    >
                      {{ concernedMinistryName }}
                    </li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>

<ng-template #concernedMinistry let-modal>
  <app-add-concerned-ministry
    [modal]="modal"
     (reloaddata)="reload($event)"
  ></app-add-concerned-ministry>
</ng-template>

<ng-template #concernedMinistryApproval let-modal>
  <app-approve-concerned-ministry
    [modal]="modal"
     (reloaddata)="reload($event)"
  ></app-approve-concerned-ministry>
</ng-template>