<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Add New Minor</h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="modal.dismiss('Cross click')"
  ></button>
</div>
<div class="modal-body product-steup-modal">
  <form [formGroup]="formgroup" class="row justify-content-center">
    <div class="col-10 mt-3">
      <label for="">Minor Industry Reference Code</label>
      <div class="input-group">
        <app-input-text
          [formGroup]="formgroup"
          [name]="'minorIndustryReferenceCode'"
          [placeholder]="'Minor Industry Reference Code'"
        ></app-input-text>
      </div>
    </div>
    <div class="col-10 mt-3">
      <label for="">Select Major Industry</label>
      <div class="input-group">
        <app-input-dropdown
          [formGroup]="formgroup"
          [name]="'majorIndustryId'"
          [object]="this.majorIndustries"
          [key]="'majorIndustryName'"
          [value]="'id'"
        >
        </app-input-dropdown>
      </div>
    </div>

    <div class="col-10 mt-3">
      <label for="">Minor Industry</label>
      <div class="input-group">
        <app-input-text
          [formGroup]="formgroup"
          [name]="'minorIndustryName'"
          [placeholder]="'Minor Industry'"
        ></app-input-text>
      </div>
    </div>

    <div class="col-10 mt-3">
      <label for="">Minor Industry Code (Alpha)</label>
      <div class="input-group">
        <app-input-text
          [formGroup]="formgroup"
          [name]="'minorIndustryCode'"
          [placeholder]="'Minor Industry Code'"
        ></app-input-text>
      </div>
    </div>
    <div class="col-10 mt-20 text-center">
      <button
        type="button"
        class="btn btn-color btn-block primary-blue-btn w-100"
        (click)="onSubmit()"
        [disabled]="!formgroup.valid"
      >
        &nbsp; Add Minor Industry &nbsp;
      </button>
    </div>
  </form>
</div>
