<div class="modal-header">
  <h4 class="modal-title text-center" id="modal-basic-title">Add New Concerned Ministry</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
</div>
<div class="modal-body product-steup-modal">
  <form [formGroup]="formgroup" class="row justify-content-center">
    <div class="col-10 mt-3">
      <label for="">Concerned Ministry Reference Code</label>
      <div class="input-group">
        <app-input-text [formGroup]="formgroup" [name]="'concernedMinistryReferenceCode'"
          [placeholder]="'Concerned Ministry Code '"></app-input-text>
      </div>
    </div>
    <div class="col-10 mt-3">
      <label for="">Concerned Ministry</label>
      <div class="input-group">
        <app-input-text [formGroup]="formgroup" [name]="'concernedMinistryName'"
          [placeholder]="'Concerned Ministry Name'"></app-input-text>
      </div>
    </div>
    <div class="col-10 mt-3">
      <label for="">Concerned Ministry Code</label>
      <div class="input-group">
        <app-input-text [formGroup]="formgroup" [name]="'concernedMinistryCode'"
          [placeholder]="'Concerned Ministry Code'"></app-input-text>

      </div>
    </div>
    <div class="col-10 mt-20 text-center">
      <button type="button" class="btn btn-color btn-block primary-blue-btn w-100" (click)="onSubmit()" [disabled]="!formgroup.valid">&nbsp;
        Add Concerned Ministry &nbsp;</button>
    </div>
  </form>
</div>