@use "../../../../assets/scss/colors";

.btn-save {
  background-color: colors.$primary-blue;
  color: colors.$white;
  padding: 10px 20px;
  font-size: 13px;
  font-weight: 600;
}

.btn:disabled {
  width: auto;
  padding: 10px 18px !important;
}

.view-more-btn {
  border: none;
  background-color: colors.$white;
  color: colors.$primary-blue;
  font-size: 12px;
  text-decoration: underline;

  &:hover {
    color: colors.$primary-orange;
  }
}
