<form
  novalidate
  autocomplete="off"
  [formGroup]="formGroup"
>
  <div class="password-wrapper">
  <input
    [type]="showPassword ? 'text' : 'password'"
    [formControl]="formGroup.get(name)"
    [placeholder]="placeholder"
    class="form-control"
  />

  <button type="button" (click)="togglePassword()" class="eye-button">
    <i class="fas" [ngClass]="showPassword ? 'fa-eye' : 'fa-eye-slash'"></i>
  </button>
</div>
          <!-- regular -->
 
  <small
    class="form-text text-danger alert"
    *ngIf="formGroup.controls[name].invalid && (formGroup.controls[name].dirty || formGroup.controls[name].touched)"
  >
    <small
      class="form-text text-danger"
      *ngIf="formGroup.controls[name].errors?.['required']"
    >
      {{ formGroup.controls[name].errors?.['required'].message }}
    </small>
    <small
      class="form-text text-danger"
      *ngIf="formGroup.controls[name].errors?.['minLength']"
    >
      {{ formGroup.controls[name].errors?.['minLength'].message }}
    </small>
    <small
      class="form-text text-danger"
      *ngIf="formGroup.controls[name].errors?.['maxLength']"
    >
      {{ formGroup.controls[name].errors?.['maxLength'].message }}
    </small>
    <small
      class="form-text text-danger"
      *ngIf="formGroup.controls[name].errors?.['email']"
    >
      {{ formGroup.controls[name].errors?.['email'].message }}
    </small>
  </small>
</form>