.password-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.password-wrapper input {
  flex: 1;
  padding-right: 2rem;
}

.eye-button {
  background: none;
  border: none;
  position: absolute;
  right: 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 100%;
}

.material-symbols-outlined.icon {
  font-size: 20px;
}

.password-wrapper input::-ms-reveal {
  display: none;
}