.cdk-overlay-pane {
  margin-top: 10px; /* Adjust as needed */
}
mat-menu {
    min-width: 300px;
    max-height: 400px;
    overflow-y: auto;
    padding: 0;
    display: block !important;
  }
  
  mat-tree {
    padding: 10px;
  }
  
  mat-tree-node,
  mat-nested-tree-node {
    display: flex;
    align-items: center;
    margin: 5px 0;
  }
  
  .parent-node {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
  }
  
  mat-checkbox {
    margin-right: 10px;
  }
  
  button[mat-icon-button] {
    margin-left: auto;
  }
  
  .mat-tree-node,
  .mat-nested-tree-node {
    padding-left: 20px;
  }
  
  mat-menu::-webkit-scrollbar {
    width: 6px;
  }
  mat-menu::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 3px;
  }
  mat-menu::-webkit-scrollbar-thumb:hover {
    background: #aaa;
  }
  

  .tab-content > .tab-pane {
    display: none; 
  }
  .tab-content > .active {
    display: block;
  }
  button.active{
  background-color:#325a9c !important; 
  color: white !important;              
  border-color:#325a9c #fff !important;
}