.role-table thead tr th {
    background-color: #325A9C !important;
    border: 1px solid #325A9C !important;
    font-size: 14px !important;
    color: #fff !important;
    font-weight: normal !important;
    text-align: center !important;
    padding: 15px 0px 15px !important;
}

.role-table tbody tr td {
    background-color: #ECF8FF !important;
    border: none !important;
    font-size: 14px !important;
    color: #325A9C;
    font-weight: 500 !important;
    text-align: center !important;
    padding: 15px 0px !important;
    margin-bottom: 2px !important;
}