<div class="main-container">
  <div class="home-header">
    <div class="row">
      <div class="col-md-7">
        <button class="btn btn-border" routerLink="/roles">Roles</button>
        <button class="btn btn-color ml-10">Users</button>
      </div>
      <div class="col-md-2 float-right">
        <button class="btn btn-approval" (click)="openXl(content)">
          <i class="fa-solid fa-arrow-right-arrow-left"></i> &nbsp;
          Approvals <span class="approve-count">20</span>
        </button>
      </div>
      <div class="col-md-3">
        <form action="">
          <div class="input-group">
            <input type="text" class="form-control" (keyup)="onFilterTextBoxChanged($event)" placeholder="Search by keyword  ..." />
            <div class="input-group-append">
              <button class="btn btn-search" type="submit">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="home-content user-table">
    <div class="row">
      <div class="col-md-9">
        <div class="table-responsive">
          <ag-grid-angular #agGrid style="width: 980px; height: 500px;" class="ag-theme-alpine" [rowData]="rowData!"
            [columnDefs]="columnDefs" [defaultColDef]="defaultColumnDef" [rowSelection]="rowSelection"
            [suppressRowClickSelection]="true" (gridReady)="onGridReady($event)"  [pagination]="true"
            [paginationPageSize]="10"
            [paginationAutoPageSize]="true">
          </ag-grid-angular>

        </div>
      </div>
      <div class="col-md-3">
        <app-update-user [users]="rowData" [selectedUsers]="selectedUser"
          (reloaddata)="reload($event)"></app-update-user>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>

<ng-template #content let-modal>
  <app-user-approval [modal]="modal" (openUserReview)=openUserReview($event)
    (openUserAccessReview)=openUserAccessReview($event)></app-user-approval>
</ng-template>

<ng-template #userApporoval let-modal>
  <div class="modal-header text-center">
    <h4 class="modal-title" id="modal-basic-title">
      Approvals &nbsp; Ujwal Kumar
    </h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-3">
        <button class="btn btn-status">Approval Pending</button>
      </div>
      <div class="col-md-6 text-center user-info">
        <ul>
          <li>Employee <span>EMP1234</span></li>
          <li>Role: <span>User</span></li>
          <li>Point of Contact: <span>Haribabu</span></li>
        </ul>
      </div>
    </div>
    <div class="row mt-100">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs nav-pills nav-fill">
          <li [ngbNavItem]="1">
            <a ngbNavLink>Product Configuration</a>
            <ng-template ngbNavContent>
              <form #productconfiguration="ngForm">
                <div class="icheck-primary mt-20">
                  <input type="checkbox" id="parametersetup" name="parametersetup" [(ngModel)]="model.parametersetup"
                    required="" />
                  <label for="parametersetup">Parameter Setup Screen</label>
                </div>
                <div class="row mt-20 modal-form">
                  <div class="col-4">
                    <div class="row">
                      <div class="col-5 mt-10 pr-0">
                        <label for="">Select Country :</label>
                      </div>
                      <div class="col-7 pl-5">
                        <select name="" id="" class="form-select form-control" name="country"
                          [(ngModel)]="model.country" required="">
                          <option value="IN">USA</option>
                          <option value="IN">India</option>
                          <option value="IN">India</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="icheck-primary">
                      <input type="checkbox" id="a" />
                      <label for="a">Select All</label>
                    </div>
                    <div class="icheck-primary mt-20">
                      <input type="checkbox" id="b" />
                      <label for="b">Country Setup Screen</label>
                    </div>
                    <div class="icheck-primary mt-20">
                      <input type="checkbox" id="d" />
                      <label for="d">Industry Setup Screen</label>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="icheck-primary">
                      <input type="checkbox" id="a" />
                      <label for="a">Entity Type Setup Screen</label>
                    </div>
                    <div class="icheck-primary mt-20">
                      <input type="checkbox" id="a" />
                      <label for="a">Regulation Grouping Setup Screen</label>
                    </div>
                  </div>
                </div>
                <div class="row mt-30 modal-form">
                  <div class="col-4">
                    <div class="row">
                      <div class="col-5 mt-10 pr-0">
                        <label for="">Select Country :</label>
                      </div>
                      <div class="col-7 pl-5">
                        <select name="" id="" class="form-control form-select">
                          <option value="IN">USA</option>
                          <option value="IN">India</option>
                          <option value="IN">India</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="row">
                      <div class="col-5 mt-10 pr-0">
                        <label for="">Select State :</label>
                      </div>
                      <div class="col-7 pl-5">
                        <select name="" id="" class="form-control form-select">
                          <option value="IN">Telangana, Gujarath….</option>
                          <option value="IN">Telangana, Gujarath….</option>
                          <option value="IN">Telangana, Gujarath….</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="icheck-primary">
                      <input type="checkbox" id="z" />
                      <label for="z">Add Regulation Screen</label>
                    </div>
                  </div>
                </div>
                <div class="row mt-30 modal-form nasted-tabs">
                  <ul ngbNav #nav="ngbNav" class="nav-tabs nav-pills nav-fill mt-20">
                    <li [ngbNavItem]="4">
                      <a ngbNavLink>Access for Regulation</a>
                      <ng-template ngbNavContent>
                        <div class="row mt-30">
                          <div class="col-8">
                            <div class="row">
                              <div class="col-6">
                                <div class="row">
                                  <div class="col-5 mt-10 pr-0">
                                    <label for="">Select Country :</label>
                                  </div>
                                  <div class="col-7 pl-5">
                                    <select name="" id="" class="form-control form-select">
                                      <option value="IN">India, Malaysia.</option>
                                      <option value="IN">
                                        Telangana, Gujarath….
                                      </option>
                                      <option value="IN">
                                        Telangana, Gujarath….
                                      </option>
                                    </select>
                                  </div>
                                </div>
                              </div>
                              <div class="col-6">
                                <div class="row">
                                  <div class="col-5 mt-10 pr-0">
                                    <label for="">Select State : :</label>
                                  </div>
                                  <div class="col-7 pl-5">
                                    <select name="" id="" class="form-control form-select">
                                      <option value="IN">
                                        Telangana, Gujarath….
                                      </option>
                                      <option value="IN">
                                        Telangana, Gujarath….
                                      </option>
                                      <option value="IN">
                                        Telangana, Gujarath….
                                      </option>
                                    </select>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="row mt-30">
                              <div class="col-6">
                                <div class="row">
                                  <div class="col-5 mt-10 pr-0">
                                    <label for="">Select Regulation :</label>
                                  </div>
                                  <div class="col-7 pl-5">
                                    <select name="" id="" class="form-control form-select">
                                      <option value="IN">Employee Law</option>
                                      <option value="IN">
                                        Telangana, Gujarath….
                                      </option>
                                      <option value="IN">
                                        Telangana, Gujarath….
                                      </option>
                                    </select>
                                  </div>
                                </div>
                              </div>
                              <div class="col-6">
                                <div class="row">
                                  <div class="col-5 pr-0">
                                    <label for="">Select Regulation Group :</label>
                                  </div>
                                  <div class="col-7 pl-5">
                                    <select name="" id="" class="form-control form-select">
                                      <option value="IN">Employee Law</option>
                                    </select>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-4">
                            <div class="icheck-primary">
                              <input type="checkbox" id="addcompliancescreen" />
                              <label for="addcompliancescreen">Add Compliance Screen</label>
                            </div>
                            <div class="icheck-primary">
                              <input type="checkbox" id="dashboard" />
                              <label for="dashboard">Dash Board</label>
                            </div>
                            <div class="icheck-primary">
                              <input type="checkbox" id="list" />
                              <label for="list">List</label>
                            </div>
                            <div class="icheck-primary">
                              <input type="checkbox" id="overview" />
                              <label for="overview">Overview</label>
                            </div>
                          </div>
                        </div>
                      </ng-template>
                    </li>
                    <li [ngbNavItem]="5">
                      <a ngbNavLink>Access for Compliance</a>
                      <ng-template ngbNavContent>
                        <div class="row mt-30">
                          <div class="col-8">
                            <div class="row">
                              <div class="col-6">
                                <div class="row">
                                  <div class="col-5 mt-10 pr-0">
                                    <label for="">Select Country :</label>
                                  </div>
                                  <div class="col-7 pl-5">
                                    <select name="" id="" class="form-control form-select">
                                      <option value="IN">India, Malaysia.</option>
                                      <option value="IN">
                                        Telangana, Gujarath….
                                      </option>
                                      <option value="IN">
                                        Telangana, Gujarath….
                                      </option>
                                    </select>
                                  </div>
                                </div>
                              </div>
                              <div class="col-6">
                                <div class="row">
                                  <div class="col-5 mt-10 pr-0">
                                    <label for="">Select State : :</label>
                                  </div>
                                  <div class="col-7 pl-5">
                                    <select name="" id="" class="form-control form-select">
                                      <option value="IN">
                                        Telangana, Gujarath….
                                      </option>
                                      <option value="IN">
                                        Telangana, Gujarath….
                                      </option>
                                      <option value="IN">
                                        Telangana, Gujarath….
                                      </option>
                                    </select>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="row mt-30">
                              <div class="col-6">
                                <div class="row">
                                  <div class="col-5 mt-10 pr-0">
                                    <label for="">Select Regulation :</label>
                                  </div>
                                  <div class="col-7 pl-5">
                                    <select name="" id="" class="form-control form-select">
                                      <option value="IN">Employee Law</option>
                                      <option value="IN">
                                        Telangana, Gujarath….
                                      </option>
                                      <option value="IN">
                                        Telangana, Gujarath….
                                      </option>
                                    </select>
                                  </div>
                                </div>
                              </div>
                              <div class="col-6">
                                <div class="row">
                                  <div class="col-5 pr-0">
                                    <label for="">Select Regulation Group :</label>
                                  </div>
                                  <div class="col-7 pl-5">
                                    <select name="" id="" class="form-control form-select">
                                      <option value="IN">Employee Law</option>
                                    </select>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-4">
                            <div class="icheck-primary">
                              <input type="checkbox" id="addcompliancescreen" />
                              <label for="addcompliancescreen">Add Compliance Screen</label>
                            </div>
                            <div class="icheck-primary">
                              <input type="checkbox" id="dashboard" />
                              <label for="dashboard">Dash Board</label>
                            </div>
                            <div class="icheck-primary">
                              <input type="checkbox" id="list" />
                              <label for="list">List</label>
                            </div>
                            <div class="icheck-primary">
                              <input type="checkbox" id="overview" />
                              <label for="overview">Overview</label>
                            </div>
                          </div>
                        </div>
                      </ng-template>
                    </li>
                    <li [ngbNavItem]="6">
                      <a ngbNavLink>Access for Type of Compliance</a>
                      <ng-template ngbNavContent>
                        <div class="row mt-30">
                          <div class="col-8">
                            <div class="row">
                              <div class="col-6">
                                <div class="row">
                                  <div class="col-5 mt-10 pr-0">
                                    <label for="">Select Country :</label>
                                  </div>
                                  <div class="col-7 pl-5">
                                    <select name="" id="" class="form-control form-select">
                                      <option value="IN">India, Malaysia.</option>
                                      <option value="IN">
                                        Telangana, Gujarath….
                                      </option>
                                      <option value="IN">
                                        Telangana, Gujarath….
                                      </option>
                                    </select>
                                  </div>
                                </div>
                              </div>
                              <div class="col-6">
                                <div class="row">
                                  <div class="col-5 mt-10 pr-0">
                                    <label for="">Select State : :</label>
                                  </div>
                                  <div class="col-7 pl-5">
                                    <select name="" id="" class="form-control form-select">
                                      <option value="IN">
                                        Telangana, Gujarath….
                                      </option>
                                      <option value="IN">
                                        Telangana, Gujarath….
                                      </option>
                                      <option value="IN">
                                        Telangana, Gujarath….
                                      </option>
                                    </select>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="row mt-30">
                              <div class="col-6">
                                <div class="row">
                                  <div class="col-5 mt-10 pr-0">
                                    <label for="">Select Regulation :</label>
                                  </div>
                                  <div class="col-7 pl-5">
                                    <select name="" id="" class="form-control form-select">
                                      <option value="IN">Employee Law</option>
                                      <option value="IN">
                                        Telangana, Gujarath….
                                      </option>
                                      <option value="IN">
                                        Telangana, Gujarath….
                                      </option>
                                    </select>
                                  </div>
                                </div>
                              </div>
                              <div class="col-6">
                                <div class="row">
                                  <div class="col-5 pr-0">
                                    <label for="">Select Regulation Group :</label>
                                  </div>
                                  <div class="col-7 pl-5">
                                    <select name="" id="" class="form-control form-select">
                                      <option value="IN">Employee Law</option>
                                    </select>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="row mt-30">
                              <div class="col-6">
                                <div class="row">
                                  <div class="col-5 mt-10 pr-0">
                                    <label for="">Select Compliance :</label>
                                  </div>
                                  <div class="col-7 pl-5">
                                    <select name="" id="" class="form-control form-select">
                                      <option value="IN">94D, 94E</option>
                                      <option value="IN">94D, 94E</option>
                                      <option value="IN">94D, 94E</option>
                                    </select>
                                  </div>
                                </div>
                              </div>
                              <div class="col-6">
                                <div class="row">
                                  <div class="col-5 pr-0">
                                    <label for="">Select Type of Compliance:</label>
                                  </div>
                                  <div class="col-7 pl-5">
                                    <select name="" id="" class="form-control form-select">
                                      <option value="IN">
                                        94D Payment, Reg....
                                      </option>
                                    </select>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-4">
                            <div class="icheck-primary">
                              <input type="checkbox" id="dashboard" />
                              <label for="dashboard">Dash Board</label>
                            </div>
                            <div class="icheck-primary">
                              <input type="checkbox" id="list" />
                              <label for="list">List</label>
                            </div>
                            <div class="icheck-primary">
                              <input type="checkbox" id="overview" />
                              <label for="overview">Overview</label>
                            </div>
                          </div>
                        </div>
                      </ng-template>
                    </li>
                  </ul>

                  <div [ngbNavOutlet]="nav" class="mt-2"></div>
                </div>
                <div class="row mt-30 justify-content-center">
                  <div class="col-3">
                    <button class="btn btn-color width-100">SAVE</button>
                  </div>
                </div>
                <div class="mt-30"></div>
              </form>
            </ng-template>
          </li>
          <li [ngbNavItem]="2">
            <a ngbNavLink>Organization Details</a>
            <ng-template ngbNavContent>
              <div class="row mt-20 modal-form">
                <div class="col-4">
                  <div class="row">
                    <div class="col-5 mt-10 pr-0">
                      <label for="">Select Country :</label>
                    </div>
                    <div class="col-7 pl-5">
                      <select name="" id="" class="form-select form-control">
                        <option value="IN">USA</option>
                        <option value="IN">India</option>
                        <option value="IN">India</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <div class="icheck-primary">
                    <input type="checkbox" id="organisationscreen" />
                    <label for="organisationscreen">Add Organisation Screen</label>
                  </div>
                </div>
              </div>
              <div class="row mt-20 modal-form">
                <div class="col-4">
                  <div class="row">
                    <div class="col-5 mt-10 pr-0">
                      <label for="">Select Country :</label>
                    </div>
                    <div class="col-7 pl-5">
                      <select name="" id="" class="form-select form-control">
                        <option value="IN">India,Malaysia…….</option>
                        <option value="IN">India</option>
                        <option value="IN">India</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="col-4">
                  <div class="row">
                    <div class="col-5 mt-10 pr-0">
                      <label for="">Select State :</label>
                    </div>
                    <div class="col-7 pl-5">
                      <select name="" id="" class="form-select form-control">
                        <option value="IN">Telangana, Gujarath….</option>
                        <option value="IN">India</option>
                        <option value="IN">India</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <div class="row">
                    <div class="col-5 mt-10 pr-0">
                      <label for="">Select Organisation:</label>
                    </div>
                    <div class="col-7 pl-5">
                      <select name="" id="" class="form-select form-control">
                        <option value="IN">Microsoft, Amazon..</option>
                        <option value="IN">Microsoft, Amazon..</option>
                        <option value="IN">India</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-4 mt-20">
                  <div class="icheck-primary">
                    <input type="checkbox" id="entityscreen" />
                    <label for="entityscreen">Add Entity Screen</label>
                  </div>
                </div>
              </div>
              <div class="row mt-30 modal-form nasted-tabs">
                <ul ngbNav #nav="ngbNav" class="nav-tabs nav-pills nav-fill mt-20">
                  <li [ngbNavItem]="4">
                    <a ngbNavLink>For Organisation</a>
                    <ng-template ngbNavContent>
                      <div class="row mt-30">
                        <div class="col-8">
                          <div class="row">
                            <div class="col-6">
                              <div class="row">
                                <div class="col-5 mt-10 pr-0">
                                  <label for="">Select Country :</label>
                                </div>
                                <div class="col-7 pl-5">
                                  <select name="" id="" class="form-control form-select">
                                    <option value="IN">India, Malaysia.</option>
                                    <option value="IN">
                                      Telangana, Gujarath….
                                    </option>
                                    <option value="IN">
                                      Telangana, Gujarath….
                                    </option>
                                  </select>
                                </div>
                              </div>
                            </div>
                            <div class="col-6">
                              <div class="row">
                                <div class="col-5 mt-10 pr-0">
                                  <label for="">Select Organisation:</label>
                                </div>
                                <div class="col-7 pl-5">
                                  <select name="" id="" class="form-control form-select">
                                    <option value="IN">
                                      Microsoft, Amazon..
                                    </option>
                                    <option value="IN">
                                      Microsoft, Amazon..
                                    </option>
                                    <option value="IN">
                                      Telangana, Gujarath….
                                    </option>
                                  </select>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-4">
                          <div class="icheck-primary">
                            <input type="checkbox" id="overviewscreen" />
                            <label for="overviewscreen">Overview Screen</label>
                          </div>
                          <h6 class="heading"><b>Billing Details screen</b></h6>
                          <div class="row">
                            <div class="col-6">
                              <div class="icheck-primary">
                                <input type="checkbox" id="dashboard" />
                                <label for="dashboard">Dash Board</label>
                              </div>
                            </div>
                            <div class="col-6">
                              <div class="icheck-primary">
                                <input type="checkbox" id="list" />
                                <label for="list">List</label>
                              </div>
                            </div>
                          </div>

                          <h6 class="heading"><b>Add Billing Screen</b></h6>
                          <div class="row">
                            <div class="col-6">
                              <div class="icheck-primary">
                                <input type="checkbox" id="overview" />
                                <label for="overview">Basic Details</label>
                              </div>
                            </div>
                            <div class="col-6">
                              <div class="icheck-primary">
                                <input type="checkbox" id="collection" />
                                <label for="collection">Collection</label>
                              </div>
                            </div>
                            <div class="col-4">
                              <div class="icheck-primary">
                                <input type="checkbox" id="Billing" />
                                <label for="billing">Billing</label>
                              </div>
                            </div>
                            <div class="col-6">
                              <div class="icheck-primary">
                                <input type="checkbox" id="sale" />
                                <label for="sale">Sale</label>
                              </div>
                            </div>
                            <div class="col-6">
                              <div class="icheck-primary">
                                <input type="checkbox" id="deliveryy" />
                                <label for="deliveryy">Delivery</label>
                              </div>
                            </div>
                          </div>





                        </div>
                      </div>
                    </ng-template>
                  </li>
                  <li [ngbNavItem]="5">
                    <a ngbNavLink>For Entity</a>
                    <ng-template ngbNavContent>
                      <div class="row mt-30">
                        <div class="col-8">
                          <div class="row">
                            <div class="col-6">
                              <div class="row">
                                <div class="col-5 mt-10 pr-0">
                                  <label for="">Select Country :</label>
                                </div>
                                <div class="col-7 pl-5">
                                  <select name="" id="" class="form-control form-select">
                                    <option value="IN">India, Malaysia.</option>
                                    <option value="IN">
                                      Telangana, Gujarath….
                                    </option>
                                    <option value="IN">
                                      Telangana, Gujarath….
                                    </option>
                                  </select>
                                </div>
                              </div>
                            </div>
                            <div class="col-6">
                              <div class="row">
                                <div class="col-5 mt-10 pr-0">
                                  <label for="">Select Organisation:</label>
                                </div>
                                <div class="col-7 pl-5">
                                  <select name="" id="" class="form-control form-select">
                                    <option value="IN">
                                      Microsoft, Amazon..
                                    </option>
                                    <option value="IN">
                                      Microsoft, Amazon..
                                    </option>
                                    <option value="IN">
                                      Microsoft, Amazon..
                                    </option>
                                  </select>
                                </div>
                              </div>
                            </div>
                            <div class="col-6 mt-20">
                              <div class="row">
                                <div class="col-5 mt-10 pr-0">
                                  <label for="">Select Entites :</label>
                                </div>
                                <div class="col-7 pl-5">
                                  <select name="" id="" class="form-control form-select">
                                    <option value="IN">
                                      Microsoft, Amazon..
                                    </option>
                                    <option value="IN">
                                      Microsoft, Amazon..
                                    </option>
                                    <option value="IN">
                                      Microsoft, Amazon..
                                    </option>
                                  </select>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-4">
                          <div class="icheck-primary">
                            <input type="checkbox" id="overviewscreen" />
                            <label for="overviewscreen">Overview Screen</label>
                          </div>
                          <h6 class="heading"><b>Billing Details screen</b></h6>
                          <div class="row">
                            <div class="col-6">
                              <div class="icheck-primary">
                                <input type="checkbox" id="dashboard" />
                                <label for="dashboard">Dash Board</label>
                              </div>
                            </div>
                            <div class="col-6">
                              <div class="icheck-primary">
                                <input type="checkbox" id="list" />
                                <label for="list">List</label>
                              </div>
                            </div>
                          </div>

                          <h6 class="heading"><b>Add Billing Screen</b></h6>
                          <div class="row">
                            <div class="col-6">
                              <div class="icheck-primary">
                                <input type="checkbox" id="overview" />
                                <label for="overview">Basic Details</label>
                              </div>
                            </div>
                            <div class="col-6">
                              <div class="icheck-primary">
                                <input type="checkbox" id="collection" />
                                <label for="collection">Collection</label>
                              </div>
                            </div>
                            <div class="col-4">
                              <div class="icheck-primary">
                                <input type="checkbox" id="Billing" />
                                <label for="billing">Billing</label>
                              </div>
                            </div>
                            <div class="col-4">
                              <div class="icheck-primary">
                                <input type="checkbox" id="sale" />
                                <label for="sale">Sale</label>
                              </div>
                            </div>
                            <div class="col-4">
                              <div class="icheck-primary">
                                <input type="checkbox" id="delivery" />
                                <label for="delivery">Delivery</label>
                              </div>
                            </div>
                          </div>
                          <h6 class="heading"><b>Service Request Screen</b></h6>
                          <div class="row">
                            <div class="col-6">
                              <div class="icheck-primary">
                                <input type="checkbox" id="dashboardd" />
                                <label for="dashboardd">Dash Board</label>
                              </div>
                            </div>
                            <div class="col-6">
                              <div class="icheck-primary">
                                <input type="checkbox" id="listt" />
                                <label for="listt">List</label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </li>
                </ul>

                <div [ngbNavOutlet]="nav" class="mt-2"></div>
              </div>
            </ng-template>
          </li>
          <li [ngbNavItem]="3">
            <a ngbNavLink>User Management</a>
            <ng-template ngbNavContent>
              <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                  <form action="">
                    <div class="icheck-primary mt-20">
                      <input type="checkbox" id="someCheckboxId" />
                      <label for="someCheckboxId">Roles Screen</label>
                    </div>
                    <div class="icheck-primary mt-20">
                      <input type="checkbox" id="someCheckboxId" />
                      <label for="someCheckboxId">Users Screen</label>
                    </div>
                    <div class="icheck-primary mt-20">
                      <input type="checkbox" id="someCheckboxId" />
                      <label for="someCheckboxId">Access Control Screen</label>
                    </div>
                    <div class="mt-20">
                      <button class="btn btn-approved">APPROVE</button>
                      <button class="btn btn-reject">REJECT</button>
                    </div>
                  </form>
                </div>
              </div>
            </ng-template>
          </li>
        </ul>

        <div [ngbNavOutlet]="nav" class="mt-2"></div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #adduserApporoval let-modal>
  <app-review-user [modal]="modal" [usersList]="rowData" [pendingUserApproval]="pendingApproval" (reloadPage)="reloadPage($event)">
  </app-review-user>
</ng-template>

<ng-template #accessControl let-modal>
  <app-access-control [modal]="modal" [user]="selectedUser" [pendingProductAccess]="pendingApproval"
    (reloadPage)="reloadPage($event)">
  </app-access-control>
</ng-template>
