.document-list{
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin: 15px 0px;
}
.document-list ul li{
    width: auto!important;
}
.edit{
    padding: 0px;
    background-color: transparent;
    border: none;
    margin: 0px 3px;
    i{
        color: #2980b9;
        font-size: 16px;
    }
}
.remove{
    padding: 0px;
    background-color: transparent;
    border: none;
    margin: 0px 3px;
    i{
        color:#c0392b;
        font-size: 16px;
    }
}

.btn-add{
    background-color: darkgreen;
    color: #fff;
    width: 100%;
    height: 40px;
    font-size: 12px;
    font-weight: 500;
    margin-top: 20px!important;
}