label{
    margin: 0px!important;
}
.btn-remove {
    background-color: #f44336;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    width: 100% !important;
    height: 39px;
}
.radio-btns{
    padding-top: 10px;
}