<div class="login-bg">
    <div class="auth-body">
      <div class="row">
        <div class="col-md-6 text-center">
          <div class="auth-left">
            <img src="./assets/images/logo.svg" alt="" />
          </div>
        </div>
        <div class="col-md-6">
          <div class="auth-form">
            <h1>Forgot Password</h1>
            <form #loginform="ngForm" class="mb-4">
              <div class="input-group mb-3">
                <span class="input-group-text">
                  <img src="./assets/images/icons/user.svg" alt="" />
                </span>
                <input
                  type="text"
                  class="form-control"
                  name="Username"
                  ngModel
                  required=""
                  placeholder="Employee ID / Email Address"
                />
              </div>
              
              <div>
                <div class="input-group mb-3">
                  <span class="input-group-text">
                    <img src="./assets/images/icons/password.svg" alt="" />
                  </span>
  
                  <input
                    type="password"
                    class="form-control border-0"
                    name="OTP"
                    placeholder="OTP"
                    id="otp"
                  />
                  <span class="input-group-text otp-btn"> Send OTP </span>
                </div>
                <p>
                  OTP sent to your registered email address
                  <span>Resend: 30 Secs</span>
                </p>
              </div>
              <button class="btn btn-submit" type="submit" routerLink="/home"  [disabled]="loginform.invalid">
                LOGIN
              </button>
              <!-- (click)="submit()" -->
            </form>
            <div class="text-center mt-5">
              <a routerLink="/" class="genlink text-white text-decoration-none mt-5"> Back to Login </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="cover-spin"></div>
  