@use "../../../assets/scss/colors";

.map {
  position: relative !important;
}

.google-map {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 70vh; // Set a proper height for the map
  min-height: 500px;

  ::ng-deep.gmnoprint.gm-bundled-control {
    top: 500px !important;
    right: 80px !important;
  }

  ::ng-deep .map-container {
    width: 100% !important;
    height: 100% !important;
    border-radius: 10px;
  }
}

.dropdown-main-container {
  display: flex;
  gap: 8px;
  justify-content: space-around;
}

.dropdown-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin: 10px 20px;
  width: 100%;
  max-width: 230px;
}

.india,
.russia,
.usa {
  position: absolute;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.india {
  right: 32.3vw;
  top: 35vh;
}

.russia {
  right: 30vw;
  top: 17vh;
}

.usa {
  left: 23vw;
  top: 26vh;
}

/* Reset base */
.mapViewBtn,
.listViewBtn {
  border: 1px solid;
  background-color: white;
  color: #325a9c;
  padding: 6px 16px;
  border-radius: 4px;
}

/* Map and list View Active */
.active-map-btn,
.active-list-btn {
  background-color: #325a9c;
  color: white;
  border: 1px solid #325a9c !important;
  border-radius: 4px;
}

.context-menu {
  position: absolute;
  background: rgba(255, 255, 2550.7);
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  /* Ensure it appears above other elements */
  padding: 0px;

  width: 320px;
}

.statusContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.statusTitle {
  margin: 0px;
  font-size: 16px;
  font-weight: 500;
  color: #9a8e85;
}

.radio {
  width: 20px;
  padding: 0;
  height: 20px;
  border-radius: 50%;
  margin: 0;
  border: 0;
  position: relative;

  &.selected {
    border: 3px solid #fafafa;
    box-shadow: 0 0 5px 5px #b7b7b7;

    // &::before {
    //   content: "";
    //   position: absolute;
    //   bottom: -11px;
    //   left: 1px;
    //   transform: rotate(90deg);
    //   width: 13px;
    //   height: 4px;
    //   border-radius: 25px;
    // }
  }
}

.redColor {
  background-color: #df2f2f;

  &.selected {
    outline: 3px solid #df2f2f;

    &::before {
      background-color: #df2f2f;
    }
  }
}

.orangeColor {
  background-color: #df8d2f;

  &.selected {
    outline: 3px solid #df8d2f;

    &::before {
      background-color: #df8d2f;
    }
  }
}

.greenColor {
  background-color: #3ad12f;

  &.selected {
    outline: 3px solid #3ad12f;

    &::before {
      background-color: #3ad12f;
    }
  }
}

.context-menu div {
  padding: 5px;
  cursor: pointer;
}

.context-menu div:hover {
  background: #f0f0f0;
}

.context-menu ul li {
  padding: 0px !important;
}

.image img {
  width: 180px !important;
  margin: 0px auto;
}

.imagess img {
  width: 140px !important;
  margin: 0px auto;
}

.nav-tabs .nav-link.active {
  padding: 8px 15px;
  font-size: 12px;
  width: 150px;
  min-width: 0px;
  margin: 0px;
  background-color: #325a9c !important;
  color: #fff;
}

.nav-tabs .nav-link {
  padding: 8px 15px;
  font-size: 12px;
  width: 150px;
  min-width: 0px;
  margin: 0px;
}

p {
  font-size: 13px;
}

/* #region  Tooltip */
.hide-after-arrow ::ng-deep .gm-style-iw-tc::after {
  display: none !important;
}

.home-country-map {
  padding: 10px;
  ::ng-deep {
    .gm-style-iw button[aria-label="Close"] {
      display: none !important;
    }

    .state-container {
      width: 100%;
      background-color: #ebebeb;
    }

    .state-name {
      width: 100%;
      font-size: 20px;
      background-color: #ebebeb;
      padding-top: 10px;
      margin: 0px;
      font-weight: 500;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .info-subtitle {
      font-size: 12px;
      display: flex;
      align-items: center;
      padding: 10px;
      font-size: 20px;
    }

    .mouse-icon {
      width: 35px;
      height: 35px;
    }

    .gm-style-iw-d {
      overflow: hidden !important;
    }

    .gm-style .gm-style-iw-c {
      padding: 0px !important;
      background: rgba(255, 255, 255, 0.47);
    }

    .gm-style-iw-ch {
      display: none !important;
    }

    .mat-mdc-tab.mdc-tab--active .mdc-tab__ripple::before,
    .mat-mdc-tab.mdc-tab--active .mat-ripple-element {
      background-color: #707070 !important;
    }

    .mat-mdc-tab.mdc-tab--active:hover .mdc-tab__text-label {
      color: #fff !important;
    }

    .country-name {
      border-top: 1px solid #e0e0e0 !important;
      padding: 12px;
      display: flex;
      justify-content: center;
      font-size: 18px;
      font-weight: 600;
      text-transform: uppercase;
      color: #5e5e5e;
    }

    .mat-mdc-tab-body-content {
      display: flex;

      .bar-img {
        height: 200px;
        margin: 28px auto;
      }
    }

    .mdc-tab {
      background: transparent;

      .mdc-tab__text-label {
        color: #707070;
      }

      &--active {
        background: #707070;

        .mdc-tab__text-label {
          color: #fff !important;
        }

        .mdc-tab-indicator__content--underline {
          border-color: transparent !important;
        }
      }
    }
  }
}

.list-view-container {
  display: flex;
  margin: 40px;
  width: 100%;
  max-width: -webkit-fill-available;
  padding: 0px;
  overflow: auto;
  height: calc(100vh - 350px);
  gap: 40px;
}

.country-sidebar {
  width: 200px;
}

.country-item {
  display: flex;
  padding: 10px 6px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 10px;
  transition: background-color 0.2s;
  border-radius: 10px;
  background-color: colors.$white;
  p {
    margin: 0;
  }
}

.country-item.active,
.country-item:hover {
  background-color: colors.$primary-orange;
  color: colors.$white;
  font-weight: 600;
}

.org-container {
  flex: 1;
}

.product-row {
  padding: 8px 12px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #eee;
}

.product-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-name {
  width: 40%;
  font-weight: 500;
}

.product-location,
.product-city {
  width: 25%;
  color: #666;
}

.entity-row {
  margin-left: 20px;
  padding: 6px 12px;
  font-style: italic;
  color: #3f51b5;
  border-left: 2px solid #ccc;
  background-color: #fff;
}

.subitem-row {
  margin-left: 40px;
  padding: 4px 0;
  display: none;
}

.subitem-row.visible {
  display: block;
}

.subitem {
  padding: 6px 12px;
  border-left: 3px solid #3f51b5;
  background: #f9f9f9;
  margin-bottom: 4px;
  font-size: 14px;
  color: #333;
}

.mat-expansion-panel {
  background: #f1f1f1;
  box-shadow: none !important;
  margin: 0px;
  border-radius: 0px !important;
  padding: 8px;
  height: auto !important;
}

// .mat-expansion-panel-spacing {
//   margin-bottom: 10px !important;
// }

.mat-expansion-panel-header {
  background: colors.$white !important;
  border-radius: 10px !important;
  min-height: 40px !important;
  height: 100% !important;
}

.mat-expansion-panel-header-title {
  color: colors.$text-black;
  font-weight: 500;
  font-size: 13px !important;
}

::ng-deep .org-panel-header.mat-expanded {
  background: colors.$primary-blue !important;
  margin-bottom: 0 !important;
  color: white !important;
  border-radius: 10px 10px 0 0 !important;

  .mat-expansion-panel-header-title {
    color: white !important;
  }
}

.product-panel {
  background-color: colors.$primary-blue !important;
}

::ng-deep .product-panel .mat-expansion-panel-header-title {
  color: colors.$text-black !important;
  font-weight: 500 !important;
}

.service-panel {
  background-color: colors.$white !important;
  border-radius: 0 0 10px 10px !important;
  .mat-expansion-panel-header {
    background-color: colors.$light-gray !important;
  }
}

::ng-deep .org-panel .mat-expansion-panel-body {
  padding: 0 !important;
}

::ng-deep .product-panel .mat-expansion-panel-body {
  padding: 0 !important;
}

::ng-deep .service-panel .mat-expansion-panel-body {
  padding: 20px !important;
  background: #fff;
}

//service request panel
.service-row {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  border-radius: 50px 26px 26px 50px;
  font-size: 14px;
  background-color: #ffecec;
  border: 1px solid #ccc;
  color: #5c5555;
  font-weight: 600;
  cursor: pointer;

  &:hover {
   background-color: colors.$primary-orange;
   color: colors.$white;
  }
}

.service-id {
  width: 46px;
  font-weight: bold;
  color: white;
  text-align: center;
  padding: 12px;
  border-radius: 50%;
}

.service-subject {
  flex: 2;
  padding-left: 12px;
}

.service-description {
  flex: 2;
}

.service-date {
  flex: 1.2;
}

.service-user {
  flex: 1;
  text-align: right;
  padding-right: 12px;
}

.status-red {
  background-color: #ffecec;
}

.status-red .service-id {
  background-color: #e53935;
}

.status-orange {
  background-color: #fff1e0;
}

.status-orange .service-id {
  background-color: #f57c00;
}

.status-green {
  background-color: #e3fce1;
}

.status-green .service-id {
  background-color: #43a047;
}

.line-container {
  position: relative;
  height: 200px;
  width: 50px;
  display: flex;
  justify-content: center;

  .line {
    position: absolute;
    top: 0;
    bottom: 30px;
    width: 6px;
    border-radius: 3px;

    &.red {
      background-color: #e74c3c;
    }

    &.orange {
      background-color: #df8d2f;
    }

    &.green {
      background-color: #3ad12f;
    }
  }

  .circle {
    position: absolute;
    bottom: 0;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 18px;
    color: #555;

    &.red {
      border: 5px solid #e74c3c;
    }

    &.orange {
      border: 5px solid #df8d2f;
    }

    &.green {
      border: 5px solid #3ad12f;
    }
  }
}

.country-list-header {
  min-height: 40px !important;
  height: 100% !important;
  background-color: colors.$white;
  margin-bottom: 10px;
  border-radius: 10px;
}

.mat-expansion-panel:not(.mat-expanded)
  .mat-expansion-panel-header:not([aria-disabled="true"]):hover {
  background-color: colors.$primary-orange !important;
  .mat-expansion-panel-header-title {
    color: colors.$white !important;
  }
}

.mat-expansion-panel-header.mat-expanded {
  min-height: 40px !important;
  height: 100% !important;
}

.mat-expansion-panel-body {
  .mat-accordion {
    .mat-expansion-panel {
      padding: 0 8px !important;
    }
  }
}

.product-panel.mat-expanded {
  > .mat-expansion-panel-header {
    border-radius: 10px 10px 0 0 !important;
  }
}

.mat-accordion {
  .product-panel:last-of-type {
    border-radius: 0 0 10px 10px !important;
    margin-bottom: 10px !important;
  }
}

.service-panel.mat-expanded {
  .mat-expansion-panel-header {
    border-radius: 10px 10px 0 0 !important;
  }
}

/* #endregion */
