@use '/src/assets/scss/colors';

.bg-white-new {
    background-color: #fff !important;
    padding: 25px !important;
    border-radius: 15px !important;
    /* box-shadow: 0px 0px 10px #00000029; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px !important;
}

.bg-white-new li {
    list-style: none !important;
    border: 1.5px solid #325A9C !important;
    padding: 7px 1px !important;
    width: 100% !important;
    font-size: 13px !important;
    color: #325A9C !important;
    border-radius: 5px !important;
    font-weight: 500 !important;
    position: relative !important;
}

.bg-white-new label {
    font-weight: 600 !important;
    color: #325A9C !important;
    font-size: 15px !important;
}

.close-icons {
    width: 18px !important;
    height: 18px !important;
    position: absolute !important;
    right: -8px !important;
    top: -8px !important;
    z-index: 1 !important;
    background-color: #fff !important;
}

.close-icons i {
    color: #325A9C !important;
    font-size: 18px !important;
}

.btn-section-select {
    background-color: #325A9C !important;
    color: #fff !important;
    font-size: 14px !important;
    padding: 5px 25px !important;
    margin: 1px 5px !important;
}

.btn-section {
    background-color: #fff !important;
    border: 1px solid #325A9C !important;
    color: #325A9C !important;
    font-size: 14px !important;
    padding: 5px 25px !important;
    margin: 1px 5px !important;
}


.context-menu {
    position: fixed;
    z-index: 1000;
    background: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    width: 250px;
  }
  .context-menu div {
    padding: 8px 12px;
    cursor: pointer;
  }
  .context-menu div:hover {
    background-color: #f0f0f0;
  }
  
  .regulation h4{
    font-size: 15px;
  }
  .expendated-panel{
    background-color: #f0f0f0;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  
  .accordion-body h5{
    background-color: #fff;
    color: colors.$black;
    font-size: 12px;
    font-weight: 600;
    padding: 8px 10px;
    width: 100%;
    border-radius: 10px;

    &:hover {
      background-color: colors.$primary-orange !important;
      color: colors.$white !important;
    }
  }
  .nasted-panel{
    background-color: #fff;
    padding: 15px;
    width: 100%;
    border-radius: 4px;
    margin-bottom: 5px;
    h6{
        font-size: 13px;
        color: #000;
    }
  }

.accordion-item:has(.accordion-collapse.show) {
  background-color: colors.$primary-blue;
  border-radius: 10px !important;
  overflow: hidden;

  .accordion-button {
    background-color: transparent!important;
    color: colors.$white;
  }
}

.accordion-button:not(.collapsed) { 
  box-shadow: none!important;
  color: colors.$black;
}

.compliance-inner-title {
  &:hover{
    .compliance-sub-title {
      color: colors.$text-black !important;
    }
  }
}