.header {
	background-color: #325A9C;
	padding: 10px 25px;
	height: 82px;
	img {
		width: 60px;
		cursor: pointer;
		margin-top: 10px;
	}
}
.header-list {
	list-style: none;
	li {
		float: left;
		margin: 15px 5px;
	}
}
li {
	&.header-notification {
		background-color: #fff;
		width: 38px;
		border-radius: 5px;
	}
}
.header-list-divider {
	height: 36px!important;
	color: #fff;
	width: 1px;
	background-color: #fff;
	opacity: 0.3;
	margin: 16px 10px !important;
}
.btn-profile-dropdown {
	background-color: transparent;
	width: 100%!important;
	font-size: 13px;
	height: 40px;
	border: 1px solid #fff;
	color: #fff;
	border-radius: 5px;
}
.wid-170 {
	width: 170px!important;
}
.user-profile {
	border: 1px solid #fff;
	text-align: center;
	padding: 8px 20px;
	color: #fff;
	border-radius: 5px;
	font-size: 14px;
}
.notification-container {
	background-color: #fff;
}
.hidden {
	display: none!important;
}


